@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primaria: #AAB2D5;
    --color-secundaria: #757FB2;
    --color--font-primaria: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}



body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-primaria);
    overflow: hidden;
}

.logo {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    margin-left: 40px;
}

.logo img {
    width: 60px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.area-texto {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 50px;
    height: 100vh;
    width: 50%;
    margin-left: 150px;
    margin-bottom: 150px;
}

.area-escrever-texto {
    font-family: var(--font-primaria);
    font-weight: 400;
    background-color: var(--color-primaria);
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    height: 80%;
    width: 100%;
    border-radius: 5px;
    font-size: 32px;
    color: #0A3871;
}

.area-infomações {
    display: flex;
    margin-bottom: 150px;
}

.instrucoes {
    font-family: var(--font-primaria);
    font-weight: 400;
    color: var(--color-secundaria);
    font-size: 12px;
}

.area-botao {
    display: flex;
    gap: 32px;
}

.botao-criptografar {
    width: 328px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: var(--color-secundaria);
    font-family: var(--font-primaria);
    font-weight: 400;
    color: #E9ECF8;

}

.botao-descriptografar {
    width: 20.5rem;
    height: 60px;
    border: 2px solid var(--color-secundaria);
    border-radius: 20px;
    font-family: var(--font-primaria);
    font-weight: 400;
}

.area-infomações {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.area-modal {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 85vh;
    color: var(--color-secundaria);
    font-family: var(--font-primaria);
    border-radius: 15px;
    background-color: #E9ECF8;
    justify-content: center;
    margin-right: 5%;
    margin-left: 15%;
    position: relative;

}

.conteudo_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 16px;
}


.titulo_area_modal {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
}

.informações {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 50%;
    gap: 5px;
    align-items: center;
    font-size: 16px;
}

.area-modal_imagem {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primaria);
    height: 40vh;
    width: 90%;
    background-color: #E9ECF8;
}


.paragrafo_area_modal {
    text-align: center;
    font-size: 16px;
}



.copiar {
    display: none;
    height: 4rem;
    width: 90%;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    border: 2px solid var(--color-secundaria);
    border-radius: 20px;
    font-family: var(--font-primaria);
    font-weight: 400;
    margin-left: 5%;
}