* {
    margin: 0;
    padding: 0;
}



body {
    height: 100vh;
    width: 100vw;
    background-color: #CED4DA;
}

.logo {
    display: flex;
    justify-content: flex-start;
    margin: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.area-texto {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 680px;
    justify-content: space-around;
    background-color: aqua;
}

.area-modal_imagem {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.area-modal_imagem_imagem {
    height: 304px;
    width: 336px;
}